table ,td,th{
	border: 1px solid #ddd;
	text-align: top left;
	font-family: arial ,verdana;

}
table{
	border-collapse: collapse;
	width: 100%;
}
th,td{
	padding: 5px;
}
td:hover{
	background-color: cyan;
}
th{
	background-color: red;
	font-size: 2.8rem;
}